@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#datagrid-CurrentAlarm').datagrid('resize');
        });
        //$('#AlarmType').combobox('emptyText', '--请选择--');
    });

    function onBeforeLoad(param) {
        param.id = $('#AlarmType').combobox('getValue');
    }
    //编辑
    function AddReason() {
        var rows = $('#datagrid-CurrentAlarm').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示:', '请选数据！', 'warning');
            return;
        }
        if (rows.length > 1) {
            TopWindow.$.messager.alert('提示:', '只能选择一条数据！', 'warning');
            return;
        }
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "AddReason",
            title: '添加告警原因',
            width: 500,
            height: 250,
            url: '@Url.Action("Edit")/' + rows[0].ID,
            onClose: function () {
                $('#datagrid-CurrentAlarm').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#AddReason').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }
</script>
<div id="toolbar">
    <div class="datagrid-toolbar panel-header search">
        告警类型：
        @Html.ComboBox("AlarmType", new { url = Url.Action("GetAlarmTypeList", "AlarmType"), valueField = "AlarmTypeID", textField = "vc_AlarmName" })
        @Html.LinkButton("查询", "icon-search", new { onclick = "$('#datagrid-CurrentAlarm').datagrid('reload')" })
    </div>
    @Html.LinkButton("告警原因", "icon-edit_add", true, new { onclick = "AddReason()" })
    @Html.LinkButton("刷新", "icon-reload", true, new { onclick = "$('#datagrid-CurrentAlarm').datagrid('reload')" })
</div>
@Html.DataGrid("datagrid-CurrentAlarm", @Url.Action("GetGridList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    striped = true,
    idField = "ID",
    sortName = "dt_BeginTime",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = true,
    pageSize = 20,
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
