@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridWorkRepoirtList').datagrid('resize');
        });
    });

    function onBeforeLoad(param) {
        $('#gridWorkRepoirtList').datagrid('clearSelections');
        param.PersonName = $('#PersonName').val();
        param.WorkReportType = $('#WorkReportType').combobox("getText");

    }

    function formatFlag(value, data, index) {
        return value == 0 ? '正在使用' : value == 1 ? '删除' : '停用';
    }

    //新增
    function Add() {
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "WorkReportEdit",
            title: '新增类型',
            width: 550,
            height: 550,
            url: '@Url.Action("Edit")',
            onClose: function () {
                $('#gridWorkRepoirtList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#WorkReportEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }
    //编辑
    function Edit() {
        var rows = $('#gridWorkRepoirtList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示:', '请选数据！', 'warning');
            return;
        }
        if (rows.length > 1) {
            TopWindow.$.messager.alert('提示:', '只能选择一条数据！', 'warning');
            return;
        }
        TopWindow.$.dialogwindow({
            iconCls: 'icon-save',
            id: "WorkReportEdit",
            title: '修改类型',
            width: 550,
            height: 550,
            url: '@Url.Action("Edit")/' + rows[0].ID,
            onClose: function () {
                $('#gridWorkRepoirtList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#WorkReportEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }

    //删除
    function Delete() {
        var rows = $('#gridWorkRepoirtList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示', '请选择要删除的数据！', 'info');
            return;
        }
        var ids = [];

        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].ID);
        }
        TopWindow.$.messager.confirm('确认', '您确定要删除数据吗？', function (action) {
            if (action) {
                var url = '@Url.Action("Delete")';
                var params = { id: ids.toString() }
                $.post(url, params).success(function (data, textStatus) {
                    if (data.success) {
                        $('#gridWorkRepoirtList').datagrid('load');
                        TopWindow.$.messager.alert("提示", data.message, "info");
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }

                }).error(function (XMLHttpRequest, textStatus, errorThrown) {
                    TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
                });
            }
        });
    }

    //转发
    function Forward() {
        var rows = $('#gridWorkRepoirtList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示', '请选择要转发的数据！', 'info');
            return;
        }
        var ids = [];

        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].ID);
        }
        TopWindow.$.messager.confirm('确认', '您确定要转发邮件吗？', function (action) {
            if (action) {
                var url = '@Url.Action("Forward")';
                var params = { id: ids.toString() }
                $.post(url, params).success(function (data, textStatus) {
                    if (data.success) {
                        $('#gridWorkRepoirtList').datagrid('load');
                        TopWindow.$.messager.alert("提示", data.message, "info");
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }

                }).error(function (XMLHttpRequest, textStatus, errorThrown) {
                    TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
                });
            }
        });
    }
    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        return ar_date.join('-') + ' ' + dFormat(d.getHours()) + ':' + dFormat(d.getMinutes()) + ':' + dFormat(d.getSeconds());
       
    }
    function dateformat(mydate) {
        Date.prototype.pattern = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份         
                "d+": this.getDate(), //日         
                "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时         
                "H+": this.getHours(), //小时         
                "m+": this.getMinutes(), //分         
                "s+": this.getSeconds(), //秒         
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度         
                "S": this.getMilliseconds() //毫秒         
            };
            var week = {
                "0": "/u65e5",
                "1": "/u4e00",
                "2": "/u4e8c",
                "3": "/u4e09",
                "4": "/u56db",
                "5": "/u4e94",
                "6": "/u516d"
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            if (/(E+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }
        var nDate = mydate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)");
        return nDate.pattern("yyyy-MM-dd ");
        
        //　　//如果要转换格式，最好写个扩展方法：
    }

   

    //转发
    function SendAdminEmail() {
        var rows = $('#gridWorkRepoirtList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示', '请选择要转发的数据！', 'info');
            return;
        }
        var ids = [];

        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].ID);
        }
        TopWindow.$.messager.confirm('确认', '您确定要发送邮件吗？', function (action) {
            if (action) {
                var url = '@Url.Action("SendAdminEmail")';
                var params = { id: ids.toString() }
                $.post(url, params).success(function (data, textStatus) {
                    if (data.success) {
                        $('#gridWorkRepoirtList').datagrid('load');
                        TopWindow.$.messager.alert("提示", data.message, "info");
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }

                }).error(function (XMLHttpRequest, textStatus, errorThrown) {
                    TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
                });
            }
        });
    }
</script>
<div id="toolbar">
    <div class="datagrid-toolbar panel-header search">
        姓名：
        @Html.TextBox("PersonName", "", new { onkeydown = "if(event.keyCode==13) $('#gridWorkRepoirtList').datagrid('load');" })
        报告类型：
        @Html.ComboBox("WorkReportType", new { url = Url.Action("GetWorkReportType"), valueField = "ID", textField = "workreporttypename", editable = true, multiple = false }, new { style = "width:100px" })
        @Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridWorkRepoirtList').datagrid('load')" })
    </div>
    @Html.LinkButton("新增", "icon-add", true, new { onclick = "Add()" })
    @Html.LinkButton("修改", "icon-edit", true, new { onclick = "Edit()" })
    @Html.LinkButton("删除", "icon-cancel", true, new { onclick = "Delete()" })
    @Html.LinkButton("刷新", "icon-reload", true, new { onclick = "$('#gridWorkRepoirtList').datagrid('load')" })
    @Html.LinkButton("批复转发邮件", "icon-edit", true, new { onclick = "Forward()" })
    @Html.LinkButton("发送部门报告", "icon-edit", true, new { onclick = "SendAdminEmail()" })
</div>
@Html.DataGrid("gridWorkRepoirtList", @Url.Action("GetWorkReportList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    striped = true,
    idField = "ID",
    sortName = "ID",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = true,
    pageSize = 20,
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
