@model BW.MMS.Model.Regions
    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridHistoryList').datagrid('resize');
        });
    });

    function onBeforeLoad(param) {
        $('#gridHistoryList').datagrid('clearSelections');
        param.AreaName = $('#AreaName').combotree("getText");
        param.SensorType = $('#SensorType').combobox("getText");
        param.beginDate = $('#beginDate').datebox('getValue');
        param.endDate = $('#endDate').combotree("getValue");
    }
    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        return ar_date.join('-') + ' ' + dFormat(d.getHours()) + ':' + dFormat(d.getMinutes()) + ':' + dFormat(d.getSeconds());

    }

</script>
<div id="toolbar">

    <div class="datagrid-toolbar panel-header search">
        区域：
        @Html.ComboTree("AreaName", new { url = Url.Action("GetAreaItem"), editable = false, multiple = false }) 
        @*@Html.TextBox("AreaName", "", new { onkeydown = "if(event.keyCode==13) $('#gridHistoryList').datagrid('load');" })*@
        传感器类型：
        @Html.ComboBox("SensorType", new { url = Url.Action("GetSensorType"), valueField = "PointAddress", textField = "PointDescription", editable = true, multiple = false }, new { style = "width:100px" })
        开始日期：
    @Html.TextBox("beginDate", (new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).ToString("yyyy-MM-dd"), new { @class = "easyui-datebox", editable = false })
    截止日期：
    @Html.TextBox("endDate", (new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd"), new { @class = "easyui-datebox", editable = false })
    @Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridHistoryList').datagrid('load')" })
    </div>
    @Html.LinkButton("刷新", "icon-reload", true, new { onclick = "$('#gridHistoryList').datagrid('load')" })
</div>
@Html.DataGrid("gridHistoryList", @Url.Action("GetHistoryRecordList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    striped = true,
    idField = "GUID",
    sortName = "GUID",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = true,
    pageSize = 20,
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
