@model BW.MMS.Model.m_AlarmTypeEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function save() {
        if (TopWindow.$("#form").form('validate')) {
            var data = $("#form").serialize();
            $.ajax({
                url: '@Url.Action("Edit")',
                data: data,
                type: "POST",
                async: false,
                datatype: "json",
                success: function (data) {
                    if (data.success) {
                        TopWindow.$.messager.alert("提示", data.message, "info", function () {
                            TopWindow.$('#AlarmTypeEdit').dialog('close');
                        });
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }
                },
                error: function (a, b, c) {
                    TopWindow.$.messager.alert("提示", a.responseText, "error");
                }
            });
        }
    }
</script>
<form id="form" action="">
@Html.HiddenFor(model => model.ID)
<table class="table-form">
    <tr>
        <th>
            告警类型编号
        </th>
        <td>
            @Html.TextBoxFor(model => model.AlarmTypeID, new { @class = "easyui-numberbox", required = "true", validType = "length[1,10]" })
            <span style="color: Red">*</span>
        </td>
        <th>
            告警名称
        </th>
        <td>
            @Html.TextBoxFor(model => model.vc_AlarmName, new { @class = "easyui-validatebox", required = "true", validType = "length[1,20]" })
            <span style="color: Red">*</span>
        </td>
    </tr>
    <tr>
        <th>
            告警描述
        </th>
        <td colspan="3">
            @Html.TextBoxFor(model => model.vc_Description, new {style="width:413px;", @class = "easyui-validatebox",  validType = "length[1,20]" })
        </td>
    </tr>
    <tr>
        <th>
            备注
        </th>
        <td colspan="3">
            @Html.TextAreaFor(model => model.vc_Memo, new { style = "width:413px;height:80px;", @class = "easyui-validatebox", validType = "length[1,200]" })
        </td>
    </tr>
</table>
</form>
