@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridMonthWholeReport').datagrid('resize');

        });
    });

    function onBeforeLoad(param) {
        $('#gridMonthWholeReport').datagrid('clearSelections');
        //        if ($('#beginMonth').val().trim().length == 0) {
        //            $('#beginMonth').val(new Date().toLocaleDateString().substr(0, 10));
        //        }
        //        if ($('#endMonth').val().trim().length == 0) {
        //            $('#endMonth').val(new Date().toLocaleDateString().substr(0, 10));
        //        }
        param.paramSearchDept = $('#ddlDeptID').combotree("getValue");
        if ($('#txtMonth').val().length == 0) {
            $('#txtMonth').val(new Date().getFullYear().toString() + '年' + (new Date().getMonth() + 1).toString() + '月');
        }
        param.dateMonth = $('#txtMonth').val();
    }
    function onLoadSuccess(data) {
        //mergeCellsByField("gridMonthWholeReport", "parentName,vc_name");

    }
    function chartColShow() {
        var monthDate;
        monthDate = $('#txtMonth').val() + ',' + $('#ddlDeptID').combotree("getValue") + ',' + $('#ddlDeptID').combotree("getText");
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "chartData",
            title: '柱状图',
            width: 1100,
            height: 500,
            iframe: true,
            url: '@Url.Action("ChartColIndex")?month_date=' + monthDate
        });
    }
    function chartLineShow() {
        var monthDate;
        monthDate = $('#txtMonth').val() + ',' + $('#ddlDeptID').combotree("getValue") + ',' + $('#ddlDeptID').combotree("getText");
        TopWindow.$.dialogwindow({
            iconCls: 'icon-chartline',
            id: "chartData",
            title: $('#txtMonth').val() + '曲线图',
            width: 1100,
            height: 500,
            iframe: true,
            url: '@Url.Action("ChartLineIndex")?month_date1=' + monthDate
        });
    }
    function getFirstAndEndDay(dateMon) {
        var year = dateMon.substring(0, 4);
        var month = dateMon.substring(5, 7);
        var monthDays = month;
        var monthN = parseInt(month, 10) + 1;
        var temp = new Date(year + "/" + monthN + "/0");
        //        if(month.substring(0, 1)=="0")
        //        {
        //            monthDays = month.substring(1, 2);
        //        }
        return year + '年' + month + '01日' + ',' + year + '年' + month + temp.getDate().toString() + '日';
    }



    function ShowReport(action) {
        var params = {};
        if ($('#txtMonth').val().length == 0) {
            $('#txtMonth').val(new Date().getFullYear().toString() + '年' + (new Date().getMonth() + 1).toString() + '月');
        }
        params['dateMonth'] = $('#txtMonth').val();

        params['paramSearchDept'] = $('#ddlDeptID').combotree("getValue");
        $.post('@Url.Action("GetReportData")', params).success(function (data) {
            LoadAcReport({
                action: action,
                aptPath: '@Url.Content("~/Reports/MonthWholeReport.apt")',
                dataname: 'MonthWholeReport',
                data: data,
                variant: [{ name: 'txtMonth', value: $('#txtMonth').val() + ' 月报表'}]
            });
        }).error(function (XMLHttpRequest, textStatus, errorThrown) {
            TopWindow.$.messager.alert("提示", a.responseText, "error");
        });
    }
</script>
<div id="toolbar" style="padding: 8px;">
    <table>
        <tr>
            <td>
                <input id="txtMonth" type="text" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy年MM月'})" />
            </td>
            <td>
                使用单位:
            </td>
            <td>@Html.ComboTree("ddlDeptID", new { url = Url.Action("GetDeptItem", "Dept"), editable = false, multiple = false })
            </td>
            <td>@Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridMonthWholeReport').datagrid('load')" })
            </td>
            <td>@Html.LinkButton("柱状图", "icon-chartbar", new { onclick = "chartColShow()" })
            </td>
            <td>
                @Html.LinkButton("曲线图", "icon-chartline", new { onclick = "chartLineShow()" })
            </td>
            @if (Convert.ToBoolean(ViewData["Designer"]))
            {
                <td>
                    @Html.LinkButton("报表设计", "icon-report", new { onclick = "ShowReport('ShowDesigner')" })
                </td>
            }
            <td>
                @Html.LinkButton("报表打印预览", "icon-report", new { onclick = "ShowReport('Preview')" })
            </td>
        </tr>
    </table>
</div>
@Html.DataGrid("gridMonthWholeReport", @Url.Action("GetGridList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    singleSelect = true,
    striped = true,
    idField = "ID",
    sortName = "ID",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = false,
    pageSize = 20,
    onLoadSuccess = new { function = "onLoadSuccess" },
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
