@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridSensorTypeList').datagrid('resize');
        });
    });

    function onBeforeLoad(param) {
        $('#gridSensorTypeList').datagrid('clearSelections');
        param.name = $('#txtName').val();
    }

    function formatFlag(value, data, index) {
        return value == 0 ? '正在使用' : value == 1 ? '删除' : '停用';
    }

    //新增
    function Add() {
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "SensorTypeEdit",
            title: '新增类型',
            width: 350,
            height: 250,
            url: '@Url.Action("Edit")',
            onClose: function () {
                $('#gridSensorTypeList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#SensorTypeEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }
    //编辑
    function Edit() {
        var rows = $('#gridSensorTypeList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示:', '请选数据！', 'warning');
            return;
        }
        if (rows.length > 1) {
            TopWindow.$.messager.alert('提示:', '只能选择一条数据！', 'warning');
            return;
        }
        TopWindow.$.dialogwindow({
            iconCls: 'icon-save',
            id: "SensorTypeEdit",
            title: '修改类型',
            width: 350,
            height: 250,
            url: '@Url.Action("Edit")/' + rows[0].ID,
            onClose: function () {
                $('#gridSensorTypeList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#SensorTypeEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }

    //删除
    function Delete() {
        var rows = $('#gridSensorTypeList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示', '请选择要删除的数据！', 'info');
            return;
        }
        var ids = [];

        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].ID);
        }
        TopWindow.$.messager.confirm('确认', '您确定要删除数据吗？', function (action) {
            if (action) {
                var url = '@Url.Action("Delete")';
                var params = { id: ids.toString() }
                $.post(url, params).success(function (data, textStatus) {
                    if (data.success) {
                        $('#gridSensorTypeList').datagrid('load');
                        TopWindow.$.messager.alert("提示", data.message, "info");
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }

                }).error(function (XMLHttpRequest, textStatus, errorThrown) {
                    TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
                });
            }
        });
    }
</script>
<div id="toolbar">
    <div class="datagrid-toolbar panel-header search">
        类型名称：
        @Html.TextBox("txtName", "", new { onkeydown = "if(event.keyCode==13) $('#gridSensorTypeList').datagrid('load');" })
        @Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridSensorTypeList').datagrid('load')" })
    </div>
    @Html.LinkButton("新增", "icon-add", true, new { disabled = "false", onclick = "Add()" })
    @Html.LinkButton("修改", "icon-edit", true, new { disabled = "false", onclick = "Edit()" })
    @Html.LinkButton("删除", "icon-cancel", true, new { disabled = "false", onclick = "Delete()" })
    @Html.LinkButton("刷新", "icon-reload", true, new { onclick = "$('#gridSensorTypeList').datagrid('load')" })
</div>
@Html.DataGrid("gridSensorTypeList", @Url.Action("GetSensorTypeList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    striped = true,
    idField = "ID",
    sortName = "ID",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = true,
    pageSize = 20,
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
