@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridYearReport').datagrid('resize');
        });
    });

    function onBeforeLoad(param) {
        $('#gridYearReport').datagrid('clearSelections');
        if ($('#txtYear').val().length > 0) {
            param.year = $('#txtYear').val();
        }
        else {
            $('#txtYear').val(new Date().getFullYear().toString() + '年');
        }
    }
    function onLoadSuccess(data) {
        mergeCellsByField("gridYearReport", "parentName,vc_name");
    }
    function ShowReport(action) {
        var params = {};
        if ($('#txtYear').val().length > 0) {
            params['year'] = $('#txtYear').val();
        }
        else {
            var nowDate = new Date();
            var year = nowDate.getFullYear();
            params['year'] = year + '年';
        }
        $.post('@Url.Action("GetReportData")', params).success(function (data) {
            LoadAcReport({
                action: action,
                aptPath: '@Url.Content("~/Reports/YearStatistical.apt")',
                dataname: 'EnergyPlan',
                data: data,
                variant: [{ name: 'txtYear', value: $('#txtYear').val()}]
            });
        }).error(function (XMLHttpRequest, textStatus, errorThrown) {
            TopWindow.$.messager.alert("提示", a.responseText, "error");
        });
        //ShowDesigner('@Url.Action("GetReportData")', '年报表', params);
    }

    function chartLineShow() {
        TopWindow.$.dialogwindow({
            iconCls: 'icon-chartline',
            id: "chartData",
            title: $('#txtYear').val() + '曲线图',
            width: 1100,
            height: 500,
            iframe: true,
            url: '@Url.Action("LineChart")?year=' + $('#txtYear').val()
        });
    }
</script>
<div id="toolbar" style="padding: 8px;">
    @Html.DatePicker("txtYear", new
   {
       dateFmt = "'yyyy年'"
   }, new { @class = "Wdate", value = (new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0, 0)).ToString("yyyy") })
    @Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridYearReport').datagrid('load')" })
    @Html.LinkButton("曲线图", "icon-chartline", new { onclick = "chartLineShow()" })
    @if (Convert.ToBoolean(ViewData["Designer"]))
    {
        @Html.LinkButton("报表设计", "icon-report", new { onclick = "ShowReport('ShowDesigner')" })
    }
    @Html.LinkButton("报表打印预览", "icon-report", new { onclick = "ShowReport('Preview')" })
</div>
@Html.DataGrid("gridYearReport", @Url.Action("GetGridList"), ViewData["GridColumn"] as IEnumerable<object>, new
    {
        fit = true,
        rownumbers = true,
        singleSelect = true,
        striped = true,
        idField = "ID",
        sortName = "ID",
        sortOrder = "asc",
        toolbar = "#toolbar",
        pagination = false,
        pageSize = 20,
        onLoadSuccess = new { function = "onLoadSuccess" },
        onBeforeLoad = new { function = "onBeforeLoad" }
    }, new { style = "overflow: hidden;" })
