@model BW.MMS.Model.m_PLCEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/Easyui/extend/datagrid-detailview.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#gridPLCList').datagrid('resize');
        });
    });
    function detailFormatter(index, row) {
        return '<div style="padding:2px"><table id="ddv-' + index + '"></table></div>';
    }
    function onBeforeLoad(param) {
        $('#gridPLCList').datagrid('clearSelections');
        param.txtName = $('#txtName').val();
        param.txtIP = $('#txtIP').val();

    }

    //新增
    function Add() {
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "PLCEdit",
            title: '新增PLC',
            width: 580,
            height: 280,
            url: '@Url.Action("Edit")',
            onClose: function () {
                $('#gridPLCList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#PLCEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }
    //编辑
    function Edit() {
        var rows = $('#gridPLCList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示:', '请选数据！', 'warning');
            return;
        }
        if (rows.length > 1) {
            TopWindow.$.messager.alert('提示:', '只能选择一条数据！', 'warning');
            return;
        }
        TopWindow.$.dialogwindow({
            iconCls: 'icon-customers',
            id: "PLCEdit",
            title: '修改PLC',
            width: 580,
            height: 280,
            url: '@Url.Action("Edit")/' + rows[0].id,
            onClose: function () {
                $('#gridPLCList').datagrid('load');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    if (TopWindow.$("#form").form('validate')) {
                        var data = TopWindow.$("#form").serialize();
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            data: data,
                            type: "POST",
                            async: false,
                            datatype: "json",
                            success: function (data) {
                                if (data.success) {
                                    TopWindow.$.messager.alert("提示", data.message, "info", function () {
                                        TopWindow.$('#PLCEdit').dialog('close');
                                    });
                                }
                                else {
                                    TopWindow.$.messager.alert("提示", data.message, "error");
                                }
                            },
                            error: function (a, b, c) {
                                TopWindow.$.messager.alert("提示", a.responseText, "error");
                            }
                        });
                    }
                }
            }]
        });
    }
    //删除
    function Delete() {
        var rows = $('#gridPLCList').datagrid('getSelections');
        if (rows.length == 0) {
            TopWindow.$.messager.alert('提示', '请选择要删除的数据！', 'info');
            return;
        }
        var ids = [];
        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].id);
        }
        TopWindow.$.messager.confirm('确认', '您确定要删除数据吗？', function (action) {
            if (action) {
                var url = '@Url.Action("Delete")';
                var params = { id: ids.toString() }
                $.post(url, params).success(function (data, textStatus) {
                    if (data.success) {
                        $('#gridPLCList').datagrid('reload');
                        TopWindow.$.messager.alert("提示", data.message, "info");
                    }
                    else {
                        TopWindow.$.messager.alert("提示", data.message, "error");
                    }

                }).error(function (XMLHttpRequest, textStatus, errorThrown) {
                    TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
                });
            }
        });
    }

  
</script>
<div id="toolbar">
    <div class="datagrid-toolbar panel-header search">
        PLC名称:
        @Html.TextBox("txtName", "", new { style = "width:100px", @class = "easyui-validatebox"})
        IP地址:
        @Html.TextBox("txtIP", "", new { style = "width:100px", @class = "easyui-validatebox" })
        @Html.LinkButton("查询", "icon-search", new { onclick = "$('#gridPLCList').datagrid('load')" })
    </div>
    @Html.LinkButton("新增", "icon-add", true, new { onclick = "Add()" })
    @Html.LinkButton("修改", "icon-edit", true, new { onclick = "Edit()" })
    @Html.LinkButton("删除", "icon-cancel", true, new { onclick = "Delete()" })
    @Html.LinkButton("刷新", "icon-reload", true, new { onclick = "$('#gridPLCList').datagrid('load')" })
</div>
@Html.DataGrid("gridPLCList", @Url.Action("GetGridList"), ViewData["GridColumn"] as IEnumerable<object>, new
{
    fit = true,
    rownumbers = true,
    striped = true,
    singleSelect = true,
    idField = "id",
    sortName = "id",
    sortOrder = "asc",
    toolbar = "#toolbar",
    pagination = true,
    pageSize = 20,
    onBeforeLoad = new { function = "onBeforeLoad" }
}, new { style = "overflow: hidden;" })
